
.trainer-card ul li{
  list-style:square;
}

.trainer-section{
  width:100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:1.5rem;
}

.trainer-heading{
  color:var(--bg-color);
  margin-top:6.5rem;
  font-size: 1rem;
}

.trainer-card{
  width:100%;
  background-color: rgba(0, 0, 0, 0.844);
  margin:1.5rem 0 0 0;
  border-radius: 1rem;
  transition: .5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trainer-card:hover{
  transform: translateY(-1rem);
  border: 1px solid #20201f; 
  box-shadow: 1px 1px 15px .5px #20201f; 
}

.left-section{
  height:150px;
  width:100%;
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
  border-radius: .4rem;
  margin-top: 1rem;
}
.card-1{
  background-image: url(images/trainers/instructor1.jpg);
}
.card-2{
  background-image: url(images/trainers/instructor2.jpg);
}
.card-3{
  background-image: url(images/trainers/instructor3.jpg);
}
.card-4{
  background-image: url(images/trainers/instructor4.jpg);
}
.card-5{
  background-image: url(images/trainers/instructor5.jpg);
}
.card-6{
  background-image: url(images/trainers/instructor6.png);
}

.right-section{
  padding:1rem;
  display:flex;
  flex-direction: column;
}

.role{
  color:rgb(255, 0, 0); 
  text-shadow: 2px 2px 30px rgb(255, 0, 0);
   font-size: .6rem;
}

.trainer-name{
  font-size: 1rem;
  padding:0;
  margin-bottom: .6rem;
}
.trainer-description,.detail-section,.trainer-details{
  font-size: .6rem;
  line-height: 1.2rem;
  font-family: "Poppins", sans-serif; 
  text-align: left;
  font-weight: normal;
}

.underlined{
  text-decoration: underline;
  text-decoration-color: var(--main-color);
  text-underline-offset: .18rem;
}

.marginLeft{
  margin-left: 1.5rem;
}