
.register-container{
  width:100%;
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/register/registerbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position:relative;
}

.register-container::before{
  content: '';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(12, 12, 12, 0.351);
}

.form-container{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(6, 6, 6, 0.555);
  padding:1rem 2.8rem;
}

.left-section{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  padding-bottom: 1rem;
}

.form-heading{
  text-align: center;
  margin:.6rem 0 .4rem 0;
  font-size: .8rem;
  font-weight: 400;
  letter-spacing: .1rem;
}

.form-description{
  text-align: center;
  font-size: .6rem;
  letter-spacing: .1rem;
  color: azure;
}

.btn-box{
  display: none;
}

.right-section{
  width:230px;
  height:100%;
  z-index: 5;
  margin: auto;
  border-radius: .5rem;
  border:.2px solid rgb(255, 255, 255);
  display:flex;
  flex-direction: column;
  text-align: center;
  padding:0 1.5rem 2rem 1.5rem;
}

.register-heading{
  font-size: .8rem;
  font-weight: 600;
  margin:.8rem 0;
  text-decoration: underline;
  text-decoration-color: var(--main-color);
  text-underline-offset: .4rem;
}

input,#select{
  width:100%;
  border:none;
  outline: none;
  background-color:black;
  padding: .6rem .6rem;
  margin-bottom: .8rem;
  color:rgb(255, 255, 255);
  font-size: .6rem;
  border-radius: .3rem;
  border-bottom: 1px solid white;
  cursor: pointer;
  transition: 500ms linear;
}

select,
::picker(select) {
  appearance: base-select;
}

select::picker-icon {
  color: #999999;
  transition: 0.4s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

::picker(select) {
  border: none;
}

option {
  color: var(--text-color);
  display: flex;
  justify-content: flex-start;
  border:none;
  background: #1c1c1c;
  transition: 0.4s;
  padding:.5rem 1rem;
  font-size: .6rem;
}

::picker(select) {
  background-color: black;
  margin:.4rem 0;
  border-radius: .4rem;
  height:7rem;
}

::picker(select)::-webkit-scrollbar{
  width:0;
  background-color: #070707d8;
}

option:hover,
option:focus {
  background-color: #000000;
}

option:checked {
  font-weight: bold;
}

input:hover,input:focus, select:focus,select:hover{
  box-shadow: 1px 1px 5px white, 1px 1px 5px white inset;
}

input:focus{
  box-shadow: 1px 1px 5px white, 1px 1px 5px white inset;
}

.btn-register-now{
  width:100%;
  padding: .5rem .6rem;
  color:white;
  font-size: .6rem;
  border-radius: .3rem;
  box-shadow: 1px 1px 5px white, 1px 1px 5px white inset;
}

