@media(min-width:320){
  .right-section{
    width:210px;
  }
}

@media (min-width:768px){
  .form-container{
    width:80%;

  }
  .left-section{
  width:70%;
  }
 .right-section{
    width:300px;
    height:300px;
  }
}

@media (min-width:925px){
  .form-container{
    width:70%;

  }
  
}

@media(min-width:1024px){
  .form-container{
  width:75%;
}

.right-section{
    width:330px;
    height:350px;
  }
}

@media(min-width:1300px){
.form-container{
  width:60%;
}
  }

  @media(min-width:1440px){
input,#select{
  font-size: .9rem;
}

}
