
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  scroll-padding-top:2rem ;
}

:root{
--main-color: #ff2c1f;
--bg-color: #020307;
--text-color: #fff;
--slogan-color:#FFC400;
}

body{
  background-color: var(--text-color);
  color:var(--text-color);
  overflow-x: hidden;
}

html::-webkit-scrollbar{
  width:.4rem;
  background-color: #000000d8;
}
html::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
  border-radius: 5rem;
  height:1rem;
}

.h-font{
    font-family:"Oswald", sans-serif;
    color:var(--text-color);
    font-weight: 300;
    font-size: .7rem;
    letter-spacing: 1px;
}

.p-font{
    font-family:"Open Sans", sans-serif;
    color:var(--text-color);
    font-weight: 100;
    font-size: .3rem;
    letter-spacing: 1px;
}

.main-text{
  color:var(--slogan-color);
}

.logo-text{
  background-color: var(--main-color);
  padding:0.2rem .6rem;
}

.logo-img{
  width:50px; 
  height:50px;
  background-image: url(images/homepage/DoBu-Logo.png );
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow:1px 1px 15px rgb(253, 245, 96),
         1px 1px 15px rgb(253, 245, 96) inset ;
}

nav{
  position: fixed;
  width:100vw;
  top:0;
  left:0;
  z-index:1000;
  display:flex;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s;
  padding:12px 0;
  gap:3rem;
  background-color: #000000b0;
}

#menu-icon{
  font-size:16px;
  color: var(--main-color);
  cursor: pointer;
  z-index: 100001;
}

.menu-items{
  width:100%;
  position:absolute;
  top:-570px;
  left:0;
  right:0;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding:20px;
  background-color: #dd1414;
  text-align: center;
}

.menu-items.active{
  top:100%;
}

.menu-items a{
  border-bottom: 2px solid var(--bg-color);
}

.btn-container{
  display: flex;
  flex-direction: column;
  gap:.6rem;
}

.btn{
  padding: 4px 8px;
  background-color:#fbf9f93d;
  border-radius: 3px;
  border: none;
  cursor:pointer;
}
.btn-login, .btn-register{
  width:60px;
}

.intro{
  height:50vh;
}

section .container{
  width:100%;
  height:100%;
  position: relative;
  display:flex;
  align-items: center;
  overflow: hidden;
}

.container img{
  position:absolute;
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: center;
  z-index: -2;
}

.container .btn{
  width:100px;
  font-size: .5rem;
  margin-top: .8rem;
}

.intro-text{
  font-weight: 400;
  font-size:.5rem;
  letter-spacing:.2rem;
  padding-left:30px;
  margin-top:70px;
}

.intro-text .p-font{
  font-weight: normal;
  font-size: .5rem;
  letter-spacing:.05rem;
}

.text2 .main-text{
  letter-spacing: .3rem;
}

.text3 .main-text{
  letter-spacing: .5rem;
}

.container .text3{
  padding:0;
  width:100%;
  display:flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.4rem;
}

.swiper-pagination-bullet{
  width: 3px !important;
  height: 3px !important;
  border-radius: 0.1rem !important;
  background:var(--text-color) !important;
  opacity: 1 !important;
  cursor:pointer;
}

.swiper-pagination-bullet-active{
  width:.8rem !important;
  background: var(--main-color) !important;
}

.section-heading{
  width:100%;
  font-weight: 400;
  padding:1rem 0 1rem 0;
  letter-spacing: 0.1rem;
  text-align: center;
  color:var(--main-color);
  background-color: var(--text-color);
  font-size:1rem ;
}

.facilities-container{
  padding:0 3.5rem;
  position:relative;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap: 2rem;
}
.facilities-container .box{
  width:210px;
  height:210px;
  position:relative;
  transition:0.5s;
  border-bottom: 3px solid var(--main-color);
  border-radius:10px;
  overflow: hidden;
}

.facilities-container .box:hover{
  z-index:1;
  transform:scale(1.1);
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.facilities-container .img-section{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.facilities-container .img-section::before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: linear-gradient(180deg,var(--slogan-color),#000);
  z-index: 1;
  mix-blend-mode: multiply;
  opacity: 0;
  transition: 0.5s;
}

.facilities-container .box:hover .img-section::before{
  opacity:0.5;
}

.facilities-container .img-section img{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: center;
}

.facilities-container .box .content-section{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:30%;
  z-index:2;
  display:flex;
  padding:10px 15px 10px;
  align-items:end;
  overflow: hidden;
  text-align: right;
}

.facilities-container .facility-name{
  font-size: .8rem;
}

.box .content-section .h-font, .box .content-section .p-font{
  width:100%;
  color:var(--text-color);
  text-shadow: 1px 1px 4px var(--bg-color);
}

.box .content-section h2, .box .content-section a{
  transition:0.5s;
  transform: translateX(300px);
}

.facilities-container .box:hover .content-section h2, .facilities-container .box:hover .content-section a{
  transform: translateX(0);
}

.martial-arts{
  width:100vw;
  height:60vh;
  background-color: var(--text-color);
  padding:30px 0 0;
}

.martial-arts-heading{
  font-weight: 400;
  letter-spacing: 0.1rem;
  color:var(--bg-color);
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.martial-arts-container{
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.martial-arts-container .bg-img{
  width:100%;
  height:100%;
  background-image: url(images/homepage/martial-arts-bg.png );
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
}

.martial-arts-container .bg-img:before{
content: '';
position:absolute;
top:0;
right:0;
width:100%;
height:100%;
background-color: #00000091;
}

.martial-arts-container .content-text{
  position: absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
  background-color: var(--bg-color);
  display:flex;
  justify-content: center;
  align-items: center;
  padding:2rem;
}

.content-text .text-section{
  width:100%;
  z-index: 7;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-section .p-font{
  font-size: .7rem;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.2rem;
}

.text-section a{
  width:70%;
}

.text-section .btn-service{
  margin-top:.5rem;
  padding:.2rem 0;
  width:100%;
  color:var(--text-color);
  font-size: 70%;
}
.btn-service{
  transition: .5s;
}

.txt-underline{
  border-bottom: 1px solid var(--main-color);
  padding-bottom: 0.1rem;
}

.logo-carousel{
  display: flex;
  margin:3rem 0 0;
  width:100%;
  overflow-x: hidden;
  background-color: #aaaaaa18;
  padding:.5rem 0 .5rem 0;
}

.logo-carousel::-webkit-scrollbar{
  display: none;
}

.logo-group{
  display:flex;
  align-items: center;
  padding-right: 1rem;
  gap:1rem;
  animation: spin 10s infinite linear;
}
.logo-group .card{
  flex:0 0 5em;
  height:2em;
  display:flex;
  align-items: center;
  justify-content: center;
}

.card .img-section{
  background-position:center;
  background-repeat: no-repeat;
  background-size:contain;
  width:100%;
  height:100%;
}

.card .card-1{
  background-image: url(images/homepage/DoBu-Logo.png);
}
.card .card-2{
  background-size: cover;
  background-image: url(images/homepage/fitnesslogo.png);
}
.card .card-3{
  background-image: url(images/homepage/muaythailogo.png);
}
.card .card-4{
    background-image: url(images/homepage/kidjudologo.png);
}
.card .card-5{
  background-image: url(images/homepage/karatelogo.png);
}
.card .card-6{
  background-image: url(images/homepage/kidmartiallogo.png);
}
.card .card-7{
  background-image: url(images/homepage/judologo.png);
}
.card .card-8{
  background-image: url(images/homepage/jiujutsulogo.png);
}
.card .card-9{
  background-image: url(images/homepage/selfdefencelogo.png);
}
@keyframes spin{
  from{translate:0}
  to{translate:-100%}
}

.pricing-section{
  margin:0;
  display:flex;
  align-items: center;
  justify-content: center;
}

.pricing-section  .content-section{
  overflow: hidden;
  margin:10px;
  padding-bottom: 10px;
  background-color: #e6e6e65b;
  border-radius: 1rem;
}

.content-section>.section-heading{
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-align: center;
  color:var(--main-color);
  font-size:1rem ;
  background-color:#82557c1c;
  text-decoration-line: underline;
  text-underline-offset: .1rem;
}

.content-section .small-description{
  color:#3f3f3fc9;
  font-size: .6rem;
  font-weight: normal;
  text-align: justify;
  padding:.5rem;
}

.card-group{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap:2rem;
  padding:1rem 5rem;
}

.card-group .plan-card{
  background-color: var(--text-color);
  width:250px;
  padding:1.6rem;
  border-radius: .6rem;
  box-shadow: 0 0 15px 0.3px #aaa;
  transition: 0.5s;
  display:flex;
  flex-direction: column;
  overflow:hidden;
  align-items: start;
  position: relative;
}

.plan-card .uppercase{
  text-transform: uppercase;
}

.plan-card .h-font{
  letter-spacing:0;
  transform: translate(0);
}
.plan-card .p-font{
  text-align: left;
  padding:0;
}

.plan-card .card-heading{
  color:var(--bg-color);
  font-size: 1rem;
  letter-spacing: .1rem;
}

.plan-card .sec-heading{
  font-size:.7rem;
  margin-top:.6rem;
  color:#6e6e6e;
}

.plan-card .price-text{
  font-size:1.2rem;
  font-weight: 500;
  margin:.3rem 0 .5rem 0;
  color: var(--bg-color);
}

.price-text .small-text{
  font-weight: 350;
  font-size: .7rem;
}

.plan-card .description{
  font-size:.7rem;
  line-height: 1.5rem;
  color:#000000;
  font-weight: 200;
}


.plan-card a{
  width:100%;
}

.card1{
  border-top: 5px solid grey;
}

.card2{
  border-top: 5px solid rgb(92, 92, 255);
}

.plan-card .btn-plan{
  width:100%;
  font-size:.8rem;
  background-color: var(--bg-color);
  color:var(--text-color);
  border-radius: 0.3rem;
  text-align: center;
  padding:.6rem 0;
  margin-top:1rem;
  font-weight: 200;
}

.plan-card .logo-text{
  color:var(--bg-color);
  background-color: #e5e5e5be;
  font-weight: 400;
  padding:5px 12px;
  font-size: .6rem;
  letter-spacing: normal;
  position:absolute;
  top:22%;
  right:0;
  transform: translateX(10px);
}

.plan-card .session-text{
  font-weight: 600;
  padding:1.5px 12px;
  font-size: .7rem;
  letter-spacing: .1rem;
  background-color: #bfc1ff77;
  color: #141881;
  border-radius: 30px;
  margin-top: .6rem;
}


.card-group .plan-card:hover{
  transform:translateY(-1.4rem);
}

.special-plans{
  background-color: #0b0b0b;
}

.special-plans .content-section{
  background-color: transparent;
  padding:1rem;
}

.special-plans .content-section .section-heading{
  background-color:transparent;
  padding:0;
  color:var(--slogan-color);
  font-size: 1.2rem;
}

.special-plans .small-description{
  padding-top:.5rem;
  letter-spacing: .1rem;
  color: #eceaea;
  line-height: 1rem;
  text-align: center;
}

.special-plans .small-text{
  font-size: .8rem;
}

.special-plans  .plan-card{
  background-color: #f6db10;
  box-shadow: 0 0 7px 2px #f6f2f2;
}

.special-plans .h-font{
  color:#151512c9;
}

.special-plans .price-text{
  margin-top: 10px;
}

.special-plans .btn{
  background-color:#0f0f0f62;
  color:#ffffff;
  border: none;
}

.special-plans  .session-text{
  background-color: #00000077;
  color:#f7f6f6ae;
  text-transform: uppercase;
}

.special-plans .description{
  color:rgb(96, 83, 11);
  font-weight: 500;
}

.instructor-section{
  width:100vw;
  min-height:100vh;
  margin:20px 0 0 0;
  text-align: center;
}

.instructor-info{
  width:100%;
  display:flex;
  flex-direction: column;
}

.instructor-img-group{
  width:100%;
  display:flex;
  gap:1rem;
  justify-content: center;
}

.instructor-img-container{
  width:80px;
  height:100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position:relative;
  border-radius: 10% 50% /50% 10%;
  box-shadow: 1px 1px 8px black,
            1px 1px 8px black inset;
  transition: .5s linear;
}

.instructor-img-container:hover{
  transform: scale(1.1);
}

.instructor1{
  background-image: url(images/homepage/instructor1.jpg);
}
.instructor2{
  background-image: url(images/homepage/instructor2.jpg);
}

.instructor3{
  background-image: url(images/homepage/instructor3.jpg);
}

.instructor4{
  background-image: url(images/homepage/instructor4.jpg);
}

.instructor5{
  background-image: url(images/homepage/instructor5.jpg);
}

.instructor6{
  background-image: url(images/homepage/instructor6.png);
}

.instructor-text{
  display: flex;
  justify-content: center;
}

.instructor-description{
  margin:1.5rem;
  color:var(--bg-color);
  width:100%;
  text-align: justify;
  font-weight: normal;
  font-size: .8rem;
  line-height: normal;
}

.btn-instructors{
  text-shadow: 1px 1px black;
  font-size: .8rem;
  background-color: #6e6e6e8c;
  border-radius: .4rem;
  margin:1.4rem;
  padding:.3rem 1rem;
  font-weight: 400;
  border-color: #6e6e6e2e;
  transition:.5s;
}

footer{
  width:100vw;
  background-color: #000000df;
}

footer .contents{
  display: flex;
  justify-content:center;
  padding: 0 .7rem;
  gap:1rem;
}

footer .copyright-section{
  display: flex;
  justify-content: center;
  background-color: #000000;
}

.copyright-section p{
  padding:.5rem;
  font-size: .4rem;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
}

.footer-heading{
  font-size: .6rem;
  font-weight: 300;
  margin:1rem 0 1rem 0;
  font-family: "Poppins", sans-serif;
  color: var(--main-color);
  text-align: left;
}

footer ul li a{
  color:var(--text-color);
  text-decoration: underline;
  text-underline-offset: .18rem;
  transition:.4s;
}
footer ul li a:hover{
  text-decoration-color: var(--main-color);
}
footer ul li{
  margin:.5rem 0;
  font-size: .4rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.btn:hover{
  background-color:rgb(230, 51, 51);
  box-shadow: 0 0 8px .5px #f8f5f5;
}

.bg-black:hover{
  box-shadow: 0 0 5px .5px #1a1919;
  background-color: var(--bg-color);
}

.bg-blue:hover{
  box-shadow: 0 0 5px .5px rgb(92, 92, 255);
}

.btn-special:hover{
  background-color:#0f0f0f7b;
}

.btn-instructors:hover{
  background-color: #6e6e6e;
}

.community i{
  font-size: .6rem;
  margin-right: 4px;
}