
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  /* font-family: "Open Sans","Oswald", sans-serif; */
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  scroll-padding-top:2rem ;
}

:root{
--main-color: #ff2c1f;
--bg-color: #020307;
--text-color: #fff;
--slogan-color:#FFC400;
}

body{
  background-color: var(--text-color);
  color:var(--text-color);
  overflow-x: hidden;
}

html::-webkit-scrollbar{
  width:.9rem;
  background-color: #000000d8;
}
html::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
  border-radius: 5rem;
  height:15rem;
}

.h-font{
    font-family:"Oswald", sans-serif;
    color:var(--text-color);
    font-weight: 800;
    font-size: 1.8rem;
    letter-spacing: 1px;
}
.section-heading{
  width:100%;
  padding:6rem 0 3rem 0;
  letter-spacing: 0.4rem;
  text-align: center;
  color:var(--main-color);
  background-color: var(--text-color);
  font-size:3rem ;
}

.p-font{
    font-family:"Open Sans", sans-serif;
    color:var(--text-color);
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1px;
}

.main-text{
  color:var(--slogan-color);
}

.logo-text{
  background-color: var(--main-color);
  padding:0.5rem 1rem;
}

.intro{
  height:80vh;
}

.logo-img{
  width:150px; 
  height:150px;
  background-image: url(images/homepage/DoBu-Logo.png );
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow:1px 1px 30px rgb(253, 245, 96),
         1px 1px 30px rgb(253, 245, 96) inset ;
  margin:.5rem 0;
}

nav{
  position: fixed;
  width:100%;
  top:0;
  right:0;
  z-index:1000;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:20px 100px;
  transition: 0.5s;
}

nav.shadow{
  background-color: #000000bb;
}

#menu-icon{
  font-size:36px;
  color: var(--main-color);
  cursor: pointer;
  z-index: 100001;
  display: none;
}

.menu-items{
  display: flex;
  gap: 5rem;
}

ul li{
  position:relative;
}

.menu-items a::before {
  content:'';
  width:0;
  height:4px;
  position:absolute;
  background-color:var(--main-color);
  bottom:-4px;
  transition: 0.3s all linear;
}

.menu-items a:hover::before{
  width:100%;
}

.btn{
  padding: 10px 5px;
  background-color:#fbf9f93d;
  border-radius: 8px;
  border: none;
  cursor:pointer;
  
}
.btn-login, .btn-register{
  width:200px;
}
.btn-login{
  margin-left: 2rem;
}

section .container{
  width:100%;
  height:100%;
  position: relative;
  display:flex;
  align-items: center;
}

.container img{
  position:absolute;
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: center;
  z-index: -2;
}

.container .btn{
  width:300px;
}

.intro-text, .main-heading{
  font-weight: 800;
  font-size:3rem;
  letter-spacing: 0.7rem;
  line-height: 6rem;
  padding-left:300px;
  margin-top:150px;
}

.intro-text .p-font{
  font-weight: 500;
  font-size: 3rem;
  letter-spacing: 0.4rem;
}

.text2 .main-text{
  letter-spacing: 1rem;
}

.text3 .main-text{
  letter-spacing: 2.5rem;
}

.container .text3{
  padding:0;
  width:100%;
  display:flex;
  flex-direction: column;
  text-align: center;
  line-height: 5.7rem;
}

.swiper-pagination-bullet{
  width: 6px !important;
  height: 6px !important;
  border-radius: 0.2rem !important;
  background:var(--text-color) !important;
  opacity: 1 !important;
  cursor:pointer;
}

.swiper-pagination-bullet-active{
  width:1.5rem !important;
  background: var(--main-color) !important;
}

.facilities-container{
  padding:4rem 1.5rem;
  position:relative;
  width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.facilities-container .box{
  width:350px;
  height:350px;
  position:relative;
  transition:0.5s;
  border-bottom: 3px solid var(--main-color);
  border-radius:10px;
}

.facilities-container .box:hover{
  z-index:1;
  transform:scale(1.25);
  box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}

.facilities-container .img-section{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.facilities-container .img-section::before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: linear-gradient(180deg,var(--slogan-color),#000);
  z-index: 1;
  mix-blend-mode: multiply;
  opacity: 0;
  transition: 0.5s;
}

.facilities-container .box:hover .img-section::before{
  opacity:0.5;
}

.facilities-container .img-section img{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: center;
}

.facilities-container .box .content-section{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:30%;
  z-index:2;
  display:flex;
  padding:20px 30px 20px;
  align-items:end;
  overflow: hidden;
  text-align: right;
}

.facilities-container .facility-name{
  font-size: 1.4rem;
}

.box .content-section .p-font{
  font-size: 2.5rem;
}

.box .content-section .h-font, .box .content-section .p-font{
  width:100%;
  color:var(--text-color);
  text-shadow: 1px 1px 4px var(--bg-color);
}

.box .content-section h2, .box .content-section a{
  transition:0.5s;
  transform: translateX(300px);
}

.facilities-container .box:hover .content-section h2, .facilities-container .box:hover .content-section a{
  transform: translateX(0);
}

.martial-arts{
  width:100vw;
  height:100vh;
  background-color: var(--text-color);
  padding:30px 0 0;
}

.martial-arts-heading{
  color:var(--bg-color);
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.4rem;
  margin-bottom: 6rem;
}

.martial-arts-container{
  padding:2rem 0 0 0;
  width:100%;
  height:80%;
  display:flex;
  align-items: center;
  position: relative;
}

.martial-arts-container .bg-img{
  position: absolute;
  width:60%;
  height:100%;
  background-image: url(images/homepage/martial-arts-bg.png );
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 4;
}

.martial-arts-container .content-text{
  width:100%;
  height:80%;
  background-color: var(--bg-color);
  display:flex;
  justify-content: right;
  align-items: center;
}

.content-text .text-section{
  position:relative;
  right:0;
  width:50%;
  padding:0 9rem 0 2rem ;
  z-index: 7;
}

.text-section .p-font{
  font-size: 2.1rem;
  font-weight: 400;
  letter-spacing: 0.4rem;
  line-height: 4rem;
}

.text-section .btn-service{
  margin-top:1.6rem;
  padding:1rem 0;
  justify-self: center;
  width:60%;
  color:var(--text-color);
  font-size: 2.2rem;
}
.btn-service{
  transition: .5s;
}

.txt-underline{
  border-bottom: 2px solid var(--main-color);
  padding-bottom: 0.5rem;
}

.logo-carousel{
  display: flex;
  margin:1.5rem 00;
  width:100%;
  overflow-x: hidden;
  background-color: #aaaaaa18;
  padding:2rem 0 2rem 0;
}

.logo-carousel::-webkit-scrollbar{
  display: none;
}

.logo-group{
  display:flex;
  align-items: center;
  padding-right: 8rem;
  gap:8rem;
  animation: spin 10s infinite linear;
}
.logo-group .card{
  flex:0 0 15em;
  height:8em;
  display:flex;
  align-items: center;
  justify-content: center;
}

.card .img-section{
  background-position:center;
  background-repeat: no-repeat;
  background-size:contain;
  width:100%;
  height:100%;
}

.card .card-1{
  background-image: url(images/homepage/DoBu-Logo.png);
}
.card .card-2{
  background-size: cover;
  background-image: url(images/homepage/fitnesslogo.png);
}
.card .card-3{
  background-image: url(images/homepage/muaythailogo.png);
}
.card .card-4{
    background-image: url(images/homepage/kidjudologo.png);
}
.card .card-5{
  background-image: url(images/homepage/karatelogo.png);
}
.card .card-6{
  background-image: url(images/homepage/kidmartiallogo.png);
}
.card .card-7{
  background-image: url(images/homepage/judologo.png);
}
.card .card-8{
  background-image: url(images/homepage/jiujutsulogo.png);
}
.card .card-9{
  background-image: url(images/homepage/selfdefencelogo.png);
}
@keyframes spin{
  from{translate:0}
  to{translate:-100%}
}

.pricing-section{
  margin-top: 6rem;
  width:100vw;
  display:flex;
  align-items: center;
  justify-content: center;
}

.pricing-section  .content-section{
  overflow: hidden;
  margin:70px 30px;
  padding-bottom: 70px;
  width:75%;
  background-color: #e6e6e65b;
  border-radius: 3.5rem;
}

.content-section>.section-heading{
  background-color:#82557c1c;
  color:var(--main-color);
  text-align: center;
  font-size: 3.4rem;
  letter-spacing: 0.4rem;
  font-weight: 800;
  padding:2rem;
  text-decoration-line: underline;
  text-underline-offset: -.9rem;
}
.section-heading .logo-text{
  padding:0.6rem 4rem;
} 

.content-section .small-description{
  color:#3f3f3fc9;
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  padding:3rem 10rem 0 10rem;
}

.card-group{
  display: flex;
  justify-content:center;
  gap:3rem;
  padding:3rem 5rem;
}

.card-group .plan-card{
  background-color: var(--text-color);
  width:600px;
  padding:3.2rem 2.8rem;
  border-radius: 1.7rem;
  box-shadow: 0 0 15px 0.3px #aaa;
  transition: 0.5s;
  display:flex;
  flex-direction: column;
  overflow:hidden;
  align-items: start;
  position: relative;
}

.plan-card .uppercase{
  text-transform: uppercase;
}

.plan-card .h-font{
  letter-spacing:0;
  transform: translate(0);
}
.plan-card .p-font{
  text-align: left;
  padding:0;
}

.plan-card .card-heading{
  color:var(--bg-color);
  font-size: 3rem;
}

.plan-card .sec-heading{
  font-size:1.8rem;
  margin-top:1.2rem;
  color:#6e6e6e;
}

.plan-card .price-text{
  font-size:3rem;
  font-weight: 500;
  margin:0 0 .5rem 0;
  color: var(--bg-color);
}

.price-text .small-text{
  font-weight: 350;
  font-size: 1.4rem;
}

.plan-card .description{
  font-size:1.8rem;
}

.plan-card .description{
  line-height: 3rem;
  color:#000000;
}

.plan-card a{
  width:100%;
}

.plan-card .btn-plan{
  width:100%;
  font-size:2rem;
  background-color: var(--bg-color);
  color:var(--text-color);
  border-radius: 0.8rem;
  text-align: center;
  padding:1.5rem 0;
  margin-top:2rem;
  font-weight: 700;
}

.plan-card .logo-text{
  color:var(--bg-color);
  background-color: #e5e5e5be;
  font-weight: 400;
  padding:20px 24px;
  font-size: 1.3rem;
  letter-spacing: .2rem;
  position:absolute;
  top:22%;
  right:0;
  transform: translateX(1.6rem);
}

.plan-card .session-text{
  font-weight: 600;
  padding:3px 18px;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  background-color: #bfc1ff77;
  color: #141881;
  border-radius: 30px;
  margin-top: 1rem;
}


.card-group .plan-card:hover{
  transform:translateY(-1.4rem);
}

.special-plans{
  background-color: #0b0b0b;
}

.special-plans .content-section{
  background-color: transparent;
}

.special-plans .content-section .section-heading{
  background-color:transparent;
  padding:0;
  color:var(--slogan-color);
  font-size: 5rem;
}

.special-plans .small-description{
  padding-top:2rem;
  letter-spacing: .3rem;
  color: #eceaea;
  margin-bottom: 3rem;
  line-height: 2.8rem;
}

.special-plans .small-text{
  font-size: 1.8rem;
}

.special-plans  .plan-card{
  background-color: #f6db10;
  box-shadow: 0 0 15px 4px #f6f2f2;
}

.special-plans .h-font{
  color:#151512c9;
}

.special-plans .price-text{
  margin-top: 20px;
}

.special-plans .btn{
  background-color:#0f0f0f62;
  color:#ffffff;
  border: none;
}

.special-plans  .session-text{
  background-color: #00000077;
  color:#f7f6f6ae;
  text-transform: uppercase;
}

.special-plans .description{
  color:rgb(96, 83, 11);
  font-weight: 600;
}

.instructor-section{
  width:100vw;
  min-height:100vh;
  margin:80px 0 0 0;
  text-align: center;
}

.instructor-info{
  width:100%;
  display:flex;
  flex-direction: column;
}

.instructor-img-group{
  width:100%;
  display:flex;
  gap:15rem;
  justify-content: center;
}

.instructor-img-container{
  width:400px;
  height:450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position:relative;
  border-radius: 10% 50% /50% 10%;
  box-shadow: 1px 1px 30px black,
            1px 1px 30px black inset;
  transition: .5s linear;
}

.instructor-img-container:hover{
  transform: scale(1.1);
}

.instructor1{
  background-image: url(images/homepage/instructor1.jpg);
}
.instructor2{
  background-image: url(images/homepage/instructor2.jpg);
}

.instructor3{
  background-image: url(images/homepage/instructor3.jpg);
}

.instructor4{
  background-image: url(images/homepage/instructor4.jpg);
}

.instructor5{
  background-image: url(images/homepage/instructor5.jpg);
}

.instructor6{
  background-image: url(images/homepage/instructor6.png);
}

.instructor-text{
  display: flex;
  justify-content: center;
}

.instructor-description{
  margin:3rem;
  color:var(--bg-color);
  width:60%;
  text-align: justify;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 4rem;
}

.btn-instructors{
  text-shadow: 1px 1px black;
  font-size: 2.4rem;
  background-color: #6e6e6e8c;
  border-radius: 1rem;
  margin:5rem;
  padding:1rem 15rem;
  font-weight: 400;
  border-color: #6e6e6e2e;
  transition:.5s;
}

footer{
  width:100vw;
  background-color: #000000df;
}

footer .contents{
  display: flex;
  justify-content:space-between;
  text-align: left;
  padding: 0 9rem 4rem 9rem;
}

footer .copyright-section{
  display: flex;
  justify-content: center;
  background-color: #000000;
}

.copyright-section p{
  padding:3rem;
  font-size: 2rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.footer-heading{
  font-size: 3.8rem;
  font-weight: 400;
  margin:7rem 0 3rem 0;
  font-family: "Poppins", sans-serif;
  color: var(--main-color);
}

footer ul li a{
  color:var(--text-color);
  text-decoration: underline;
  text-underline-offset: .6rem;
  transition:.4s;
}
footer ul li a:hover{
  text-decoration-color: var(--main-color);
}
footer ul li{
  margin:2rem 0;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.btn:hover{
  background-color:rgb(230, 51, 51);
  box-shadow: 0 0 8px .5px #f8f5f5;
}

.bg-black:hover{
  box-shadow: 0 0 5px .5px #1a1919;
  background-color: var(--bg-color);
}

.bg-blue:hover{
  box-shadow: 0 0 5px .5px rgb(92, 92, 255);
}

.btn-special:hover{
  background-color:#0f0f0f7b;
}

.btn-instructors:hover{
  background-color: #6e6e6e;
}

