
nav{ 
  background-color: #0000009c;
}

.intro-group{
  width:100vw;
  height:70vh;
  position:relative;
}

.intro-bg{
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: center;
  position:relative;
}
.intro-overlay{
  position:absolute;
  top:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.691);
  width:100%;
  height:100%;
}

.intro-text-container{
  position:absolute;
  top:60%;
  left:50%;
  transform: translate(-50%, -50%);
  width:100%;
  text-align: center;
}

.intro-text-container .service-intro-text{
  font-size: 4rem;
  letter-spacing: .4rem;
  text-transform: uppercase;
}

.service-contents-section{
  width:100vw;
}

.service-contents-container{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.left-section, .right-section{
  width:50%;
  height:70vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.bg-black{
  background-color: var(--bg-color);
}
  
  .bg-white{
    background-color: var(--text-color);
  }

  .no-padding{
    padding:0;
  }

  .img-container{
    width:100%; 
    height:100%;
    padding:7rem;
    filter: drop-shadow(1px 1px 30px #ffd226);
}

.no-filter{
  filter:none;
}

.border-filter{
  box-shadow: 1px 1px 30px #ffd226;
}

  .img-container img{
    width:100%;
    height:100%;
  }

  .bg-white .text-container{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(191, 195, 195, 0.187);
    padding:4rem 8rem;
  }

  .bg-white .martial-art-heading{
    color:var(--bg-color);
    font-size: 4rem;
    margin-bottom: 2rem;
    font-weight: 600;
  }

  .bg-white .martial-arts-description{
    color:var(--bg-color);
    font-size: 2rem;
    text-align: justify;
    font-family: "Poppins", sans-serif; 
  }

  .bg-white .btn-join{
    background-color: var(--main-color);
    color:var(--text-color);
    padding:1rem 15rem;
    font-size: 2rem;
    margin-top: 2rem;
  }

  .bg-white .btn-join:hover{
    background-color: rgba(188, 30, 30, 0.9);
  }

  .schedule{
    width:100vw;
    height: 100vh;
    background-image: url(images/ourservices/schedule-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

.schedule-content{
  width:100%;
  height:100%;
  padding:5rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.72);
}

.schedule .schedule-heading{
  color:var(--text-color);
  font-size: 5rem;
  margin-bottom: 2rem;
  text-decoration: underline;
  text-decoration-color: var(--main-color);
  text-underline-offset: 1rem;
}

table .t-head{
  color:var(--bg-color);
}

th,td{
    border:2px solid var(--slogan-color);
    border-collapse: collapse;
    border-radius: 10px;
    font-family: "Poppins", sans-serif; 
    font-size: 1.6rem;
    color:rgb(255, 255, 255);
    padding:.7rem 2rem;
    text-align: center;
    height:6rem;
    transition: .5s ease;
    box-shadow: 0 0 25px 0 var(--slogan-color);
}

th:hover, td:hover{
  background-color:rgb(0, 0, 0);
  cursor: pointer;
}

