@media (min-width:375px){
    .bg-white .martial-art-heading{
    font-size: 1rem;
  }

  .bg-white .martial-arts-description{
    font-size: .6rem;
  }

}

@media(min-width:400px){
  .bg-white .martial-arts-description{
    line-height: 1.2rem;
  }

  .bg-white .btn-join{
    margin-top: .6rem;
  }
}

@media (min-width:425px){
    .bg-white .martial-art-heading{
    font-size: 1.2rem;
  }

  .bg-white .martial-arts-description{
    font-size: .7rem;
  }

}

@media (min-width:486px){
    .bg-white .martial-art-heading{
    font-size: 1.2rem;
  }

  .bg-white .martial-arts-description{
    font-size: .8rem;
    line-height: 1.3rem;
  }

  .bg-white .btn-join{
    font-size: .8rem;

  }
}

@media (min-width:768px){

  body{
    background-color: var(--text-color);
  }

  .intro-group{
  height:50vh;
}

.intro-bg{
  object-fit: cover;
}

.intro-text-container{
  top:60%;
}

.intro-text-container .service-intro-text{
  font-size: 1rem;
  letter-spacing: .1rem;
  font-weight: 500;
}

.service-contents-section{
  width:100vw;
  display: block;
  position:initial;
  gap:0;
  margin: 0;
}

.service-contents-container{
  display:flex;
  justify-content: center;
  align-items: center;
  position: initial;
}

.left-section, .right-section{
  width:50%;
  height:60vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.bg-black:before{
  width:0;
}

.bg-white{
    position:initial;
    background-color: rgba(250, 248, 248, 0.908);
    z-index: 1;
}

.img-container{
    padding:2rem;
    filter: drop-shadow(1px 1px 10px #ffd226);
    overflow: hidden;
}

.border-filter{
  box-shadow: 1px 1px 10px #ffd226;
}

.no-filter{
  filter:none;
}

.no-padding{
    padding:0;
  }

.bg-white .text-container{
    padding:1.5rem;
    z-index: 2;
}

.bg-white .martial-art-heading{
    color:var(--bg-color);
    font-size: 1rem;
    font-weight: 700;
  }

.bg-white .martial-arts-description{
    color:var(--bg-color);
    font-size: .8rem;
    font-weight: 400;
  }

  .bg-white .btn-join{
    padding:.3rem 3rem;
    font-size: .8rem;
    margin-top: .5rem;
  }
 .schedule{
    width:100vw;
    height: 80vh;
    background-image: url(images/ourservices/schedule-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

.schedule-content{
  width:100%;
  height:100%;
  padding:1rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.72);
}

.schedule .schedule-heading{
  color:var(--text-color);
  font-size: 1rem;
  margin-bottom: .8rem;
  text-decoration: underline;
  text-decoration-color: var(--main-color);
  text-underline-offset: .1rem;
}

table .t-head{
  color:var(--bg-color);
}

th,td{
    border:2px solid var(--slogan-color);
    border-collapse: collapse;
    border-radius: 7px;
    font-family: "Poppins", sans-serif; 
    font-size: .6rem;
    color:rgb(255, 255, 255);
    padding:.3rem .2rem;
    text-align: center;
    height:1rem;
    transition: .5s ease;
    box-shadow: 0 0 25px 0 var(--slogan-color);
}

th:hover, td:hover{
  background-color:rgb(0, 0, 0);
  cursor: pointer;
}
}

@media (min-width:1024px){
  .intro-group{
  height:70vh;
}

.intro-text-container .service-intro-text{
  font-size: 1.6rem;
  letter-spacing: .2rem;
  font-weight: 400;
}

.left-section, .right-section{
  height:70vh;
}

.img-container{
    padding:3rem;
}

.bg-white .text-container{
    padding:2.6rem;
}

.bg-white .martial-art-heading{
    font-size: 1.6rem;
    font-weight: 500;
  }

.bg-white .martial-arts-description{
    font-size: 1rem;
    letter-spacing: .05rem;
  }

  .bg-white .btn-join{
    padding:.4rem 4rem;
    font-size: .9rem;
    margin-top: .7rem;
  }
 .schedule{
    height: 90vh;
  }

.schedule .schedule-heading{
  font-size: 1.6rem;
  margin-bottom: .9rem;
  text-underline-offset: .4rem;
}

th,td{
    border-radius: 7px;
    font-size: .7rem;
}
}

@media(min-width:1300px){
  .schedule{
    height: 100vh;
  }
.schedule .schedule-heading{
  margin-bottom: 2rem;
}

th,td{
    font-size: .8rem;
    padding:.6rem .4rem;
}
}
