@media(min-width:400px){
  .form-heading{
  font-size: 1rem;
    margin:.6rem 0;
  }

  .form-description{
  font-size: .7rem;
  }

}

@media (min-width:768px){

.form-container{
  width:90%;
  flex-direction: row;
  border-radius: 1.5rem;
  background-color: rgba(6, 6, 6, 0.555);
  padding:0;
  align-items: center;
}

.left-section{
  width:60%;
  margin: 0;
  padding:0;
}

.right-section{
  width:40%;
  border-radius: 1.5rem;
  padding:0 1.5rem;
}

.form-heading{
  margin:1rem 0 1rem 0;
  font-size: 1.1rem;
  font-weight: 800;
}

.form-description{
  font-size: .8rem;
  letter-spacing: .07rem;
}

.btn-box{
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.btn-LogIn{
  color: var(--text-color);
  padding:.3rem 2rem;
  font-size: .8rem;
  border-radius: .4rem;
  border:1px solid rgb(123, 122, 122);
  box-shadow: 1px 1px 15px rgb(123, 122, 122);
}

.register-heading{
  font-size: 1.4rem;
  font-weight: 600;
}

input,#select{
  padding: .6rem .6rem;
  font-size: .7rem;
}

option{
  font-size: .7rem;
}

#select{
  position: relative;
}

::picker(select) {
  position: absolute;
  top:0;
  left:0;
  height:9rem;
}

.btn-register-now{
  margin:.5rem 0 2rem 0;
}

}

@media(min-width:800px){
.form-container{
  width:80%;
  }
}

@media(min-width:925px){
.form-container{
  margin-top:5rem;
  width:70%;
  }
}

@media(min-width:1024px){
  .form-container{
  width:75%;
}

.right-section{
  padding:2rem 2rem 1rem 2rem;
}

.form-heading{
  font-size: 1.6rem;
}

.form-description{
  font-size: 1rem;
}

.btn-LogIn{
  padding:.5rem 2rem;
  font-size: .9rem;
  letter-spacing: .05rem;
}

input,#select{
  padding: .6rem .8rem;
  font-size: .7rem;
}

.btn-register-now{
  margin:.5rem 0 2rem 0;
  padding: .6rem .6rem;
  font-size: .9rem;
  letter-spacing: .05rem;
}

  }

 @media(min-width:1300px){
.form-container{
  width:60%;
  margin: 150px;
}
  }

  @media(min-width:1440px){
input,#select{
  padding: .8rem .8rem;
  font-size: 1rem;
}

.btn-LogIn{
  font-size: .9rem;
}
}
  