nav{
  background-color: #0000009c;
}

.register-container{
  width:100%;
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/register/registerbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position:relative;
}

.register-container::before{
  content: '';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(12, 12, 12, 0.351);
}

.form-container{
  width:70%;
  height:80vh;
  display: flex;
  justify-content: center;
  margin:15rem 0;
  border-radius: 5rem;
  background-color: rgba(6, 6, 6, 0.555);
}

.left-section{
  width:60%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  padding-bottom: 5rem;
}

.form-heading{
  text-align: center;
  margin:4rem 0 2rem 0;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: .2rem;
}

.form-description{
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: .2rem;
  color: azure;
}

.btn-box{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.btn-LogIn{
  color: var(--text-color);
  padding:1rem 5rem;
  font-size: 2rem;
  border-radius: 1rem;
  border:1px solid rgb(123, 122, 122);
  box-shadow: 1px 1px 15px rgb(123, 122, 122);
}

.right-section{
  width:40%;
  height:100%;
  z-index: 5;
  border-radius: 5rem;
  border:.2px solid rgb(255, 255, 255);
  display:flex;
  flex-direction: column;
  text-align: center;
  padding:0 5rem;
}

.register-heading{
  font-size: 4rem;
  font-weight: 600;
  margin:3rem 0;
  text-decoration: underline;
  text-decoration-color: var(--main-color);
  text-underline-offset: 1rem;
}

input,select{
  width:100%;
  border:none;
  outline: none;
  background-color:black;
  padding: 2rem 3rem;
  margin-bottom: 3rem;
  color:rgb(255, 255, 255);
  font-size: 1.7rem;
  border-radius: 1rem;
  border-bottom: 1px solid white;
  cursor: pointer;
  transition: 500ms linear;
}

select,
::picker(select) {
  appearance: base-select;
}

select::picker-icon {
  color: #999999;
  transition: 0.4s rotate;
}

select:open::picker-icon {
  rotate: 180deg;
}

::picker(select) {
  border: none;
}

option {
  color: var(--text-color);
  display: flex;
  justify-content: flex-start;
  border:none;
  background: #1c1c1c;
  transition: 0.4s;
  padding:.5rem 1rem;
}

::picker(select) {
  background-color: black;
  margin:1rem 0;
  border-radius: 1rem;
  overflow: auto;
}

option:hover,
option:focus {
  background-color: #000000;
}

option:checked {
  font-weight: bold;
}

input:hover,input:focus, select:focus,select:hover{
  box-shadow: 1px 1px 15px white, 1px 1px 15px white inset;
}

input:focus{
  transform: scale(1.1);
}

.btn-register-now{
  width:100%;
  padding: 2rem 3rem;
  color:white;
  font-size: 1.7rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 15px white, 1px 1px 15px white inset;
}

