.entry1{
  opacity:0;
  transform: translateX(50%);
  transition: 1.2s ease-in-out;
}
.entry1.show{
  opacity:1;
  transform: translateX(0);
}

.entry2{
  transform: translateX(-50%);
  transition: 1.2s ease-in-out;
}

.entry2.show {
  transform: translateX(0);
  opacity: 1;
}

.entry3{
  transform:scale(0);
  transition: 1.2s ease-in-out;
}

.entry3.show{
  transform:scale(1);
}

.entry4{
  opacity: 0;
  transition: 1.2s ease-in-out;
}

.entry4.show{
  opacity:1;
}

.entry5{
  z-index: -1;
  transform: translateY(50%);
  transition: 500ms ease-in-out;
}

.entry5.show{
  z-index: 1;
  transform:translateY(0);
}