nav{ 
  background-color: #0000009c;
}

.trainer-card ul li{
  list-style:square;
}

.trainer-section{
  width:100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trainer-heading{
  color:var(--bg-color);
  margin-top:16rem;
  font-size: 4rem;
}

.trainer-card{
  width:80%;
  background-color: rgba(0, 0, 0, 0.844);
  padding:5rem;
  margin:5rem;
  border-radius: 4rem;
  transition: .5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trainer-card:hover{
  transform: translateY(-1rem);
  border: 1px solid #20201f; 
  box-shadow: 1px 1px 30px .5px #20201f; 
}

.left-section{
  flex:1;
  height:700px;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  border-radius: 4rem;
}
.card-1{
  background-image: url(images/trainers/instructor1.jpg);
}
.card-2{
  background-image: url(images/trainers/instructor2.jpg);
}
.card-3{
  background-image: url(images/trainers/instructor3.jpg);
}
.card-4{
  background-image: url(images/trainers/instructor4.jpg);
}
.card-5{
  background-image: url(images/trainers/instructor5.jpg);
}
.card-6{
  background-image: url(images/trainers/instructor6.png);
}

.right-section{
  flex:2;
  margin-left: 5rem;
  display:flex;
  flex-direction: column;
}

.trainer-name{
  font-size: 4rem;
  padding:0;
  margin-bottom: 2rem;
}
.trainer-description,.detail-section,.trainer-details{
  font-size: 2rem;
  line-height: 4.5rem;
  font-family: "Poppins", sans-serif; 
  text-align: justify;
}

.underlined{
  text-decoration: underline;
  text-decoration-color: var(--main-color);
  text-underline-offset: 1rem;
}