@media(min-width:400px){
 .trainer-heading{
  margin-top:5rem;
} 

.left-section{
  height:120px;
  width:110px;
  background-size:cover;
  margin-top: 2rem;
}
.right-section{
  padding:1rem 1rem 1rem 2rem;
}

.trainer-name{
  text-align: center;
}

.trainer-description,.detail-section,.trainer-details{
  text-align: justify;
}

}

@media(min-width:768px){
  .trainer-section{
  padding:0;
  margin-bottom: 1.4rem;
}

.trainer-heading{
  margin-top:7rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.trainer-card{
  width:80%;
  padding:1.5rem;
  border-radius: 1rem;
  flex-direction: row;
}

.left-section{
  width:160px;
  background-size:cover;
  border-radius: .8rem;
  margin-top: 0;
  height: 180px;
}

.right-section{
  flex:2;
  margin-left:1.5rem;
  padding:0;
}

.role{
   font-size: .8rem;
}

.trainer-name{
  text-align: left;
  font-size: 1.4rem;
}

.trainer-description,.detail-section,.trainer-details{
  font-size: .7rem;
}

}

@media(min-width:1024px){
  .trainer-card{
  width:60%;
  }

}

@media(min-width:1300px){

 .trainer-heading{
  margin:9rem 0 2rem 0;
  font-size: 1.8rem;
  font-weight: 600;
}

.trainer-card{
  width:70%;
  padding:2rem;
}

.left-section{
  width:200px;
  height: 250px;
}
.role{
   font-size: 1rem;
}

.trainer-name{
  font-size: 2rem;
}

.trainer-description,.detail-section,.trainer-details{
  font-size: 1rem;
  line-height: 2rem;
}

.underlined{
  text-underline-offset: .4rem;
}
}

@media(min-width:1440px){
.left-section{
  width:250px;
  height:300px;
}
  
.trainer-card{
  width:80%;
}
.trainer-name{
  font-size: 2rem;
}

.trainer-description,.detail-section,.trainer-details{
  font-size: 1.2rem;
  line-height: 2.2rem;
}

.role{
   font-size: 1.2rem;
}

}