@media(min-width:768px){
  .trainer-section{
  padding:0;
  margin-bottom: 1.4rem;
}

.trainer-heading{
  margin-top:7rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.trainer-card{
  width:80%;
  padding:1.5rem;
  border-radius: 1rem;
  flex-direction: row;
}

.left-section{
  flex:1;
  background-size:cover;
  border-radius: .8rem;
  margin-top: 0;
  height: 200px;
}

.right-section{
  flex:2;
  margin-left:1.5rem;
  padding:0;
}

.role{
   font-size: .8rem;
}

.trainer-name{
  font-size: 1.4rem;
}

.trainer-description,.detail-section,.trainer-details{
  font-size: .7rem;
}

}